/build*/
/tests/build*/
/tests/_verify/
/Testing/
/*.plist
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
install_manifest.txt
coverage.info
*.gcda
*.gcno
*.gcov
*.profdata
*.profraw
.DS_Store
*.swp
*~
.#*
